/* &display=swap */
@import "null.css";

@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Neucha:400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bad+Script:regular&display=swap');
/* ================================================================ */
.wrapper {
	min-height: 100%;
	overflow: hidden;
	background-color: #949494;
}
/* ================================================================ */
header, footer {
	font-size: 36px;
	text-align: center;
	padding: 50px 0;
}

main {
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 22px;
	line-height: 1.5;
}

.title_photo {
	text-align: center;
	padding: 50px 0;

}

.title_photo img {
	width: 630px;
	height: 315px;
	border: 5px dotted #F4CA16;
	border-radius: 50px;
	box-shadow: 5px 5px 15px 1px #000000;
}

.content {
	max-width: 1100px;
	margin: 0 auto;	
} 

/* =========BLOCK1============== */
.block1_row{
	background-color: #D1D1D1;
	border: 3px solid #0080FF;
	box-shadow: 5px 5px 5px 10px black;
	padding: 50px 25px;
	margin: 50px 0;
	border-radius: 10%;
	margin: 80px;
}

.block1_list li {
	text-shadow: 2px 2px 5px #000;
	text-decoration: underline;
} 

.list 

.list_title {
	font-size: 48px;
	font-family: 'Montserrat Alternates', sans-serif;
	font-weight: 700;
	padding: 0 0 0 50px;
}

.list_text {
	margin:	0 0 25px 0;
}

.block1_text {
	text-align: justify;
}
/* =========== BLOCK2========= */

.block2 {
	margin: 0 0 80px 0;
}

.block2_row {
	background-color: antiquewhite;
	outline: 10px dashed #FF8000;
	border-radius: 20% 0;
	padding: 60px;
	box-shadow: inset 8px 5px 10px 10px #00FFFF, 8px 5px 15px 20px #FAE105;
}

.title {
	font-size: 50px;
	font-family: 'Neucha', sans-serif;
	text-align: center;
	margin: 0 0 25px 0;
}

.block2__text{
	text-align: justify;
}

.block2__text p{
	margin: 0 0 20px 0;
}

.block2__text__quote {
	font-family: 'Bad Script', sans-serif;
	line-height: 1.8;
	font-size: 18px;
	width: 720px;
	padding: 0 0 0 40px;
	}

.block2__text__quote div{
	margin: 0 0 50px 0;
	box-shadow: inset 3px 3px 15px 1px  #8000FF,5px 5px 15px 10px  #8000FF;
	padding: 40px;
	border-radius: 40px 0 50px 100px;
}

.quote1 {
	text-transform: uppercase;
	color: brown;
	text-shadow: 2px 3px 5px black;
	}

.quote2 {
	text-decoration: underline wavy;
	letter-spacing: 5px;
}

.quote3 {
	text-decoration: line-through dotted 2px cyan;
}

.quote4 {
	font-size: 28px;
	opacity: 0.4;
}
/* ======BLOCK3========== */

.block3_row{
	border: 5px solid #000;
	border-radius: 60px;
	box-shadow: 10px 10px 10px 10px darkorange,-10px -10px 10px 10px darkorange;
	padding: 50px;
	text-align: justify;
	background-color: darkcyan;
} 

.block3__img {
	text-align: center;
	}

.block3__img img {
	width: 533px;
	height: 533px;
	border-radius: 50%;
	box-shadow: 7px 7px 40px 5px grey;
	}

.block3__about{
	margin: 0 0 25px 0;
	text-decoration: underline 3px;
} 

.block3__method {
	margin: 0 0 25px 0;
	box-shadow: 5px 5px 15px 5px whitesmoke, -5px -5px 15px 5px whitesmoke;
	padding: 70px;
	background-color: lightgrey;
	border-radius: 200px 0 ;
} 

.method_2_items p {
	font-family: 'Bad Script', sans-serif;
	text-decoration: underline solid 2px;
}

.link {
	text-decoration: underline double red;
	outline: dotted 2px #0080FF;
	color: #FF8000 ;
}
